@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.order {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 480px;
    min-height: 560px;
    background: #FFC107;
    border-radius: 4px;
    top: 120px;
    right: 40px;
}

.orderTitle {
    position: relative;
    margin: 24px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.order-button {
    position: relative;
    height: 51px;
    width: 320px;
    margin-top: 24px;
    margin-right: 80px;
    margin-bottom: 38px;
    margin-left: 80px;
    background: rgba(198, 40, 40, 0.5);
    border-radius: 40px;
    border: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.selected-items {
    position: relative;
    margin-left: 24px;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.items {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    flex-grow: 1;
}

.total {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}
