@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 1280px;
    height: 80px;
    background: #C62828;
    top: 0px;
    margin: 0px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 17px;
}
