.options {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    position: relative;
    width: 680px;
    height: 252px;
}

.options-button {
    position: relative;
    height: 51px;
    width: 680px;
    background: #C62828;
    border-radius: 40px;
    border: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff;
}